body{
    background-color: #dddddd;
}


.navbar{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    
    background-color: #fe9f97;
}

.navbar-brand{
    color: aqua;
    font-size: 30px;
    
}

.headertext{
    text-align: center;
    font-family: 'Permanent Marker', cursive;


}


/*WORK GALLERY STARTS HERE*/

.picone{
    margin: 5px;
    position: relative;
    border-style: solid;
    border-color: #fbae17;
    max-width: 100%;
    display: inline;
    margin-left: 15%;
    margin-right: -2%;
    float: left;
    
 
}

.pictwo{
    margin-right: 5px;
    position:relative;
    border-style: solid;
    border-color: #fbae17;
    max-width: 100%;
    height: auto;
    width: auto;
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
    float:left;
}

.picthree{
     margin: 5px;
    position: relative;
    border-style: solid;
    border-color: #fbae17;
    max-width: 100%;
    display: inline;
    margin-left: 15%;
    margin-right: -2%;
    clear: left;
    float: left;
}

.picfour{
    margin-right: 5px;
    position:relative;
    border-style: solid;
    border-color: #fbae17;
    max-width: 100%;
    height: auto;
    width: auto;
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
    float:left;


}

.picfive{
     margin: 5px;
    position: relative;
    border-style: solid;
    border-color: #fbae17;
    max-width: 100%;
    display: inline;
    margin-left: 15%;
    margin-right: -2%;
    clear: left;
    float: left;

}

.picsix{
    margin-right: 5px;
    position:relative;
    border-style: solid;
    border-color: #fbae17;
    max-width: 100%;
    height: auto;
    width: auto;
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
    float:left;
}
