body{
    background-color: #dddddd;
}


.navbar{
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    
    background-color: #fe9f97;
}

.navbar-brand{
    color: aqua;
    font-size: 30px;
    
}

.headertext{
    text-align: center;
    font-family: 'Permanent Marker', cursive;


}


/*WORK GALLERY STARTS HERE*/

/*container for hover text*/
/*
.container {
    width: 560px;
    height: 25px;
    position: absolute;
    border-style: none;
    border-color: #000;
    max-width: 100%;
    margin-left: 15%;
    margin-right: -2%;
    float: left;
    margin-top: 300px;
}
*/


/*text for hover animation*/

/*first picture*/
.hover-container-one {
    width: 560px;
    height: 75px;
    position: absolute;
    max-width: 100%;
    margin-left: 15%;
    margin-right: -2%;
    margin-top: 150px;
    background-color: black;
    opacity: .8;
}

.hover-text-one {
    font-family: 'Permanent Marker', cursive;
    color: #fbae17;
    opacity: .8;
    text-align: center;
    top: 25%;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}


.picone{
    margin: 5px;
    position: relative;
    border-style: solid;
    border-color: #fbae17;
    max-width: 100%;
    display: inline;
    margin-left: 15%;
    margin-right: -2%;
    float: left;
    
}

/*second picture*/

.hover-container-two {
    width: 560px;
    height: 75px;
    position: absolute;
    max-width: 100%;
    margin-left: 51.25%;
    margin-right: 5px;
    margin-top: 150px;
    background-color: black;
    opacity: .8;

}

.hover-text-two {
    font-family: 'Permanent Marker', cursive;
    color: #fbae17;
    opacity: .8;
    text-align: center;
    top: 25%;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}


.pictwo{
    margin-right: 5px;
    position:relative;
    border-style: solid;
    border-color: #fbae17;
    max-width: 100%;
    height: auto;
    width: auto;
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
    float:left;

}

/*Third Picure*/


.hover-container-three {
    width: 560px;
    height: 75px;
    position: absolute;
    max-width: 100%;
    margin-left: 15%;
    margin-right: -2%;
    margin-top: 475px;
    background-color: black;
    opacity: .8;
}

.hover-text-three {
    font-family: 'Permanent Marker', cursive;
    color: #fbae17;
    opacity: .8;
    text-align: center;
    top: 25%;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

.picthree{
     margin: 5px;
    position: relative;
    border-style: solid;
    border-color: #fbae17;
    max-width: 100%;
    display: inline;
    margin-left: 15%;
    margin-right: -2%;
    clear: left;
    float: left;
}

/*Fourth Picture*/

.hover-container-four {
    width: 560px;
    height: 75px;
    position: absolute;
    max-width: 100%;
    margin-left: 51.25%;
    margin-right: 5px;
    margin-top: 475px;
    background-color: black;
    opacity: .8;

}

.hover-text-four {
    font-family: 'Permanent Marker', cursive;
    color: #fbae17;
    opacity: .8;
    text-align: center;
    top: 25%;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

.picfour{
    margin-right: 5px;
    position:relative;
    border-style: solid;
    border-color: #fbae17;
    max-width: 100%;
    height: auto;
    width: auto;
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
    float:left;

}

/*Fifth Picture*/

.hover-container-five {
    width: 560px;
    height: 75px;
    position: absolute;
    max-width: 100%;
    margin-left: 15%;
    margin-right: -2%;
    margin-top: 810px;
    background-color: black;
    opacity: .8;
}

.hover-text-five {
    font-family: 'Permanent Marker', cursive;
    color: #fbae17;
    opacity: .8;
    text-align: center;
    top: 25%;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

.picfive{
     margin: 5px;
    position: relative;
    border-style: solid;
    border-color: #fbae17;
    max-width: 100%;
    display: inline;
    margin-left: 15%;
    margin-right: -2%;
    clear: left;
    float: left;

}

/*Sixth Picture*/

.hover-container-six {
    width: 560px;
    height: 75px;
    position: absolute;
    max-width: 100%;
    margin-left: 51.25%;
    margin-right: 5px;
    margin-top: 815px;
    background-color: black;
    opacity: .8;

}

.hover-text-six {
    font-family: 'Permanent Marker', cursive;
    color: #fbae17;
    opacity: .8;
    text-align: center;
    top: 25%;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

.picsix{
    margin-right: 5px;
    position:relative;
    border-style: solid;
    border-color: #fbae17;
    max-width: 100%;
    height: auto;
    width: auto;
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
    float:left;
}

/*BIO STYLING*/

.hover-container {
    width: 560px;
    height: 75px;
    position: absolute;
    max-width: 100%;
    margin-left: 15%;
    margin-right: -2%;
    margin-top: 150px;
    background-color: black;
    opacity: .8;
}


.bio-picture{
    position: relative;
    border-style: solid;
    border-color: #fbae17;
    max-width: 100%;
    display: inline-block;
    margin-left: 10%;
    margin-right: 12px;
    height: 400px;
    width: 600px;
    float: left;
    
}

.bio-header {
    font-family: 'Caveat', cursive;
    color: #fbae17;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    clear: right;
    display: inline-block;
}

.bio-text{
    
    font-family: 'Caveat', cursive;
    color: #fbae17;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    display: inline;
    float: left;
    
}


